{
  "extends": [
    "standard",    
    "plugin:vue/vue3-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "vue-eslint-parser",
  "rules": {
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-explicit-any": "off",
    "no-unused-vars": 1,
    "@typescript-eslint/no-var-requires":"error",
    "@typescript-eslint/no-empty-function":"off"
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "root": true,
  "env": {
    "node": true
  }
}